.header_title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.28px;
}
.header_subtitle {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
}
.header_wrapper {
    padding-top: 64px;
}